
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{box-sizing: border-box;}
        body{
            background-color: aquamarine;
        }
        .yes{
            background-color:yellow;
            border: 5px solid black;
            padding: 40px 60px 20px 22px ;
            margin: 10px;
            border-radius: 20px;
            width: 200px;
        }
        label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}


    </style>

</head>
<body>
 <form action="" method="POST" enctype="multipart/form-data">
    <div>{% csrf_token %}
    NAme:<input type="text" name="name" required >

    </div>
    <br>
    <div>
    Birthdate:<input type="date" name="Birthdate" >
    
    </div>
<br>
    <div>
        <label for="avatar">Choose a profile picture:</label>
        <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
 

    </div>
    <br>
    <!-- <br>
    <div>
    Email:<input type="email" name="email" >

    </div>
    <br> -->
    <input type="submit">


    
    </form>
    
</body>
</html>

   
   
    
